@use "src/App/variables" as *;

.containerHidden {
  display: none;
}

.container, .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: fixed;
  z-index: 2000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $black60;
}

.text {
  pointer-events: none;
  width: 80%;
  height: 80%;
  border: 8px dashed rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.9);
}
